.donateBox{
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    padding-top:70px;
}
.btnPaypal , .btnBtc{
    border-radius: 10px;
    background: #ffffff;
    border-color: rgb(209, 208, 208);
}
// .beneficios{
//     background-image: url("");
//     background-repeat: no-repeat;
//     background-size: 60vh;
//     background-position: 95% 10%;
// }
// @media (max-width:767px){
//     .beneficios{
//         background-size: 100vw;
//         background-position: -550% 100%;
//     }
// }