.donateBox{
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    padding-top:70px;
}
.btnPaypal , .btnBtc{
    border-radius: 10px;
    background: #ffffff;
    border: 2px solid rgb(209, 208, 208);
    height: max-content;
    &:hover{
        box-shadow: 2px 2px 5px ;
    }
}