.navbar{
    background: #0b7dffd8;
}
.navbar-toggler{
    border: none;
}
.nav-link, .idiomas{
    color:#ffffff;
    cursor: pointer;
    &:hover{
        color: rgba(204, 204, 204, 0.904);
    }
}
.menuicon , .dropdown-item{
    color:#ffffff;
} 
.dropdown-item{
    cursor: pointer;;
} 
.navbar-toggler:focus , .idiomas:focus{
        box-shadow: none;
}
.dropdown-menu{
    background: #0b7dffd8;
}