.topdiv {
  background-image: url("../../public/cohete.png");
  background-size: 55%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #0b7bff;
}
.toprow {
  height: calc(100vh - 57px);
}
.topinfo {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}
.txg {
  font-size: 2.5rem;
}

.img-card {
  height: 5rem;
  width: 5rem;
}
.rowdown {
  font-size: 5rem;
  color: #e7e7e76e;
  margin-bottom: 100px;
  animation: flecha 1.5s ease infinite;
}

.list-group-item {
  border: none;
  background: transparent;
}

@keyframes flecha {
  0% {
    margin-bottom: 100px;
  }
  50% {
    margin-bottom: 85px;
  }
  100% {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .topdiv {
    background-size: 90%;
  }
  .topinfo {
    font-size: 2rem;
  }
  .txg {
    font-size: 1.5rem;
  }
}
