@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import "../components/layout/layout.scss";
@import "../components/inicio/inicio.scss";
@import "../components/navbar/navbar.scss";
@import "../components/footer/footer.scss";
@import "../components/about/about.scss";
@import "../components/goals/goals.scss";
@import "../components/donate/donate.scss";

html,
body {
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
